.top-navigation {
    ul {
        list-style: none;
        display: flex;
        gap: 40px;
        align-items: center;
    }

    li {
        a{
            color: white;
            border-bottom: 2px solid transparent;
            transition: all 0.2s;
            

            &:hover {
                color: $primary-color;
                border-bottom-color: $secondary-color;
            }
        }
    }
}